{% extends 'base.html' %}

{% block content %}
    <div class="container content-section">

        {% for post in posts %}
            <div class="d-flex justify-content-between">

                <h2> <a href="{{ url_for('post_view', id=post.id) }}", class="customLink">{{ post.title }}</a></h2>

                {% if current_user.username == 'clee2691' %}
                    <a href="{{ url_for('edit_post', id=post.id) }}", class="btn btn-info navbar-btn mr-auto align-self-center">EDIT POST</a>
                    <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-danger navbar-btn mr-auto align-self-center">DELETE POST</a>
                {% endif %}

                <div>
                    <p class="lead publish-text">Published: {{ moment(post.timestamp).format('LLL') }}</p>

                </div>

            </div>

            {% if post.edited_time %}
              <div class="py-1">
                    <div >
                        <small class="text-muted d-flex justify-content-end publish-text"> EDITED: &nbsp{{ moment(post.edited_time).format('LLL') }}</small>
                    </div>
              </div>
            {% endif %}

            <hr>

            {% if post.body | length > 500 %}
                <div class="post-text">
                    {{ post.body | markdown | truncate(500,False,'...') }}
                </div>
            {% else %}
                <div class="post-text">
                   {{ post.body|markdown }}
                </div>
            {% endif %}

            <div class="container row justify-content-between">
                <div class="py-2">
                    <a href="{{ url_for('post_view', id=post.id) }}", class="text-muted">Read More...</a>
                </div>
                <div class="py-2 text-muted">
                    Comments: {{ post.comments.count() }}
                </div>

            </div>

        {% endfor %}
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center">
             {% if prev_url %}
                <a class="btn btn-primary navbar-btn" href="{{ prev_url }}"> NEWER POSTS </a>
             {% endif %}

            {% if next_url %}
                <a class="btn btn-primary navbar-btn" href="{{ next_url }}"> OLDER POSTS </a>
            {% endif %}
        </div>
    </div>


{% endblock %}
